.container-transition{
    width: 100%;
    height: 100vmin;
    background-color: #DDD9CE;
    border-radius: 2rem 2rem 0 0;
    font-family: 'Exo', sans-serif;

    .cards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        grid-template-areas:
        "imagem imagem imagem2 c-black" 
        "imagem imagem c-orange imagem3" 
        "imagem4 imagem5 imagem5 imagem6"
        "imagem4 imagem7 imagem8 imagem8";
    }
}