.container-transition {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 105vmin;
  border-radius: 2rem 2rem 0 0;
  font-family: "Exo", sans-serif;
}
.container-transition .cards {
  width: 95%;
  height: 100%;
  display: grid;
  grid-template-rows: 25vh 25vh 25vh 20vh;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  grid-template-areas: "apresentacao apresentacao imagem1 c-gray" "apresentacao apresentacao c-orange imagem2" "imagem3 imagem4 imagem4 imagem5" "imagem3 imagem6 imagem7 imagem7";
}
.container-transition .cards .apresentacao {
  width: 100%;
  border-radius: 1rem;
  grid-area: apresentacao;
  background-image: linear-gradient(to bottom, rgba(86, 83, 96, 0.808), rgba(86, 83, 96, 0.767)), url(../../assets/carlos-kenobi-_-C6tGdMogQ-unsplash.jpg);
  background-size: cover;
  background-position-y: center;
}
.container-transition .cards .apresentacao h1 {
  margin: 1rem;
  color: white;
}
.container-transition .cards .imagem1 {
  border-radius: 1rem;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  grid-area: imagem1;
}
.container-transition .cards .c-gray {
  border-radius: 1rem;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  grid-area: c-gray;
  background-color: rgb(86, 83, 96);
}
.container-transition .cards .c-gray h1 {
  margin: 1rem;
  color: white;
  font-weight: 200;
}
.container-transition .cards .c-gray h2 {
  color: white;
  text-align: end;
  margin: 1rem;
}
.container-transition .cards .c-gray p {
  text-align: center;
  margin: 3rem;
  color: white;
}
.container-transition .cards .c-orange {
  border-radius: 1rem;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  grid-area: c-orange;
  background-color: #FEF9F3;
}
.container-transition .cards .c-orange h1 {
  margin: 1rem;
  font-weight: 300;
}
.container-transition .cards .c-orange p {
  text-align: center;
  margin: 3rem;
}
.container-transition .cards .c-orange h2 {
  text-align: end;
  margin: 1rem;
}
.container-transition .cards .imagem2 {
  border-radius: 1rem;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  grid-area: imagem2;
}
.container-transition .cards .imagem3 {
  border-radius: 1rem;
  grid-area: imagem3;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  background-image: url(../../assets/logo.png);
  background-size: cover;
  background-position-x: center;
}
.container-transition .cards .imagem4 {
  border-radius: 1rem;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  grid-area: imagem4;
  background-image: url(../../assets/vestibular-fiap-2022.png);
  background-size: cover;
  background-position-y: center;
}
.container-transition .cards .imagem4 h1 {
  margin: 1rem;
  font-weight: 400;
  text-align: center;
}
.container-transition .cards .imagem5 {
  border-radius: 1rem;
  grid-area: imagem5;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: rgb(86, 83, 96);
}
.container-transition .cards .imagem6 {
  border-radius: 1rem;
  grid-area: imagem6;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}
.container-transition .cards .imagem7 {
  border-radius: 1rem;
  grid-area: imagem7;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.125);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.container-transition .cards .imagem7 .icons {
  font-size: 3rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.253);
  align-items: center;
  display: flex;
  transition: 0.6s;
}
.container-transition .cards .imagem7 .icons:hover {
  margin: 2rem;
  transform: scale(1.1);
}
.container-transition .cards .imagem7 .icons a {
  text-decoration: none;
  color: black;
  display: flex;
  transition: 0.6s;
}
.container-transition .cards .imagem7 .icons a:visited {
  color: none;
}/*# sourceMappingURL=transition.css.map */